In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic=pd.read_csv("training_titanic_x_y_train.csv")

In [3]:
del titanic["Name"]

In [4]:
del titanic["Ticket"]

In [5]:
titanic.shape

(668, 9)

In [6]:
titanic.isnull().sum()

Pclass        0
Sex           0
Age         132
SibSp         0
Parch         0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [7]:
del titanic["Cabin"]

In [8]:
del titanic["Fare"]

In [9]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2
titanic["gender"]=titanic["Sex"].apply(getNumber)

In [10]:
del titanic["Sex"]

In [11]:
meanS= titanic[titanic.Survived==1].Age.mean()
meanS

28.138157894736842

In [12]:
df=titanic.copy()
def getNumber_em(str):
    if str=="C":
        return 1
    elif str=="Q":
        return 2
    else:
        return 3
df["em"]=df["Embarked"].apply(getNumber_em)
del df["Embarked"]
df.rename(columns={'em':'Embarked'}, inplace=True)

In [13]:
df["age"]=np.where((pd.isnull(df.Age) & df["Survived"]==1)  ,meanS, df["Age"])

In [14]:
meanNS=df[df.Survived==0].Age.mean()
meanNS

30.857142857142858

In [15]:
df.age.fillna(meanNS,inplace=True)

In [16]:
del df["Age"]

In [17]:
df.rename(columns={'age':'Age'}, inplace=True)
df.rename(columns={'gender':'Sex'}, inplace=True)

In [18]:
df["survived"]=df["Survived"]

In [19]:
del df["Survived"]
df.rename(columns={'survived':'Survived'}, inplace=True)

In [20]:
df.dropna(inplace=True)
df.shape

(668, 7)

In [21]:
df.head()

   Pclass  SibSp  Parch  Sex  Embarked        Age  Survived
0       2      1      0    2         3  29.000000         1
1       3      0      0    1         3  30.857143         0
2       2      0      0    1         3  39.000000         0
3       3      0      4    2         3  29.000000         0
4       3      0      0    1         3  25.000000         0

In [22]:
#df=titanic.copy()
#col_list = list(df)
#col_list[1], col_list[5] = col_list[5], col_list[1]
#col_list[2], col_list[6] = col_list[6], col_list[2]
#col_list[3], col_list[5] = col_list[5], col_list[3]
#col_list[4], col_list[6] = col_list[6], col_list[4]
#df.columns = col_list
#df.head()

In [23]:
#def getNumber_em(str):
#    if str=="C":
#        return 1
#    elif str=="Q":
#        return 2
#    else:
#        return 3
#df["em"]=df["Embarked"].apply(getNumber_em)
#del df["Embarked"]
#df.rename(columns={'em':'Embarked'}, inplace=True)
#df.head()

In [25]:
titanic_test=pd.read_csv("test_titanic_x_test.csv")
del titanic_test["Name"]
del titanic_test["Ticket"]
del titanic_test["Cabin"]
del titanic_test["Fare"]
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2
titanic_test["gender"]=titanic_test["Sex"].apply(getNumber)
del titanic_test["Sex"]
titanic_test.rename(columns={'gender':'Sex'}, inplace=True)
#titanic_test.head()

In [26]:
df_test=titanic_test.copy()
def getNumber_em(str):
    if str=="C":
        return 1
    elif str=="Q":
        return 2
    else:
        return 3
df_test["em"]=df_test["Embarked"].apply(getNumber_em)
del df_test["Embarked"]
df_test.rename(columns={'em':'Embarked'}, inplace=True)
df_test.head()

   Pclass   Age  SibSp  Parch  Sex  Embarked
0       2   8.0      1      1    1         3
1       1  49.0      0      0    2         3
2       3   NaN      0      0    1         2
3       2  24.0      2      1    2         3
4       1  36.0      0      0    1         3

In [27]:
df_test.count()
df_test.Age.fillna(meanNS,inplace=True)
# meanS= df_test[df_test.Survived==1].Age.mean()
# df_test["age"]=np.where((pd.isnull(df_test.Age) & df_test.Survived==1) ,meanS, df_test["Age"])
# meanNS=df_test[df.Survived==0].Age.mean()
# df_test.age.fillna(meanNS,inplace=True)
df_test.rename(columns={'age':'Age'}, inplace=True)

In [28]:
new_df_test=pd.DataFrame.as_matrix(df_test)#converting pandas dataframe into numpy array

In [29]:
new_df=pd.DataFrame.as_matrix(df)#converting pandas dataframe into numpy array
new_df.shape

(668, 7)

In [30]:
x_train=new_df[:,0:6]
y_train=new_df[:,6]
print(x_train.shape)
print(y_train.shape)

(668, 6)
(668,)

In [31]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
clf.score(x_train,y_train)

0.78443113772455086

In [32]:
y_pred=clf.predict(new_df_test)
y_pred

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.])

In [33]:
np.savetxt('tt.csv',y_pred)